<section class="comment-container">
    <div class="comment">
        <img src="assets/comments/comment-1.webp" alt="imgagen de perfil del comentario">
        <div class="person-info">
            <p> <a href="https://www.linkedin.com/in/nicolas-giraldo-1a30a228a/">Nicolas Giraldo</a> 
                <br>
                "Digital House"
            </p>
        </div>
        <p>"Robinson es un desarrollador dedicado, con experiencia en tecnologías actuales y hábil al resolver problemas. Destaca por la atención al detalle, su enfoque en la experiencia del usuario y su contribución en equipo. Es una persona que aportar valor a cualquier proyecto."</p>
    </div>
    <div class="comment">
        <img src="assets/comments/comment-2.webp" alt="imagen de perfil del comentario">
        <div class="person-info">
            <p> <a href="https://www.linkedin.com/in/gabriela-bernal-cely-fullstack-developer/">Gabriela Bernal</a> 
                <br>
                "teammate"
            </p>
        </div>
        <p>"Trabajar con Robinson en nuestro proyecto de desarrollo web ha sido una experiencia increíble. Su habilidad para resolver problemas complejos y su enfoque organizado fueron clave para el avance del proyecto. Es un excelente developer y un gran compañero de equipo."
        </p>
    </div>
</section>