.projects-container {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.project {
    width: 90%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.project img {
    width: 50%;
    height: auto;
}

.project .project-description {
    width: 45%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project .project-description h3 { 
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(131, 131, 131, 1);
    color: var(--colorSecondario);
    margin-bottom: 20px;
}

.project .project-description p {
    width: 80%;
    font-family: var(--fontInconsolata);
    font-weight: 400;
    color: var(--colorTerciario);
}

.skills-list {
    width: 90%;
    height: auto;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.skills-list button {
    width: auto;
    height: 35px;
    cursor: inherit;
    
    padding: 6px;
    margin: 2px;

    border: none;
    border-radius: 8px;

    background-color: var(--colorSecondario);
    color: var(--colorPrincipal);
    font-family: var(--fontLato);
}

.project-link {
    gap: 10px;
}

/* Responsive */
/* Dispositivos pequeños (<576px) */
@media (max-width: 576px) {
    .projects-container {
        gap: 50px; /* Reducir el espacio entre elementos en pantallas pequeñas */
    }

    .project {
        width: 100%;
        flex-direction: column; /* Cambiar la dirección en pantallas pequeñas */
    }

    .project img {
        width: 90%;
        margin: 20px 0;
    }

    .project .project-description {
        width: 100%;
        margin: 10px 0;
    }
}

/* Dispositivos medianos (576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .projects-container {
        gap: 100px; /* Reducir el espacio entre elementos en pantallas pequeñas */
    }

    .project {
        width: 100%;
        flex-direction: column; /* Cambiar la dirección en pantallas pequeñas */
    }

    .project img {
        width: 90%;
        margin: 20px 0;
    }

    .project .project-description {
        width: 100%;
        margin: 10px 0;
    }
}