.comment-container {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 5rem 0rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.comment {
    width: 30%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: var(--fontLato);
    font-style: italic;
}

.comment img {
    width: 100px;
    height: 100px;
    margin: 20px;

    border: solid 1px var(--colorSecondario);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    object-fit: cover;
}

.person-info {
    text-align: center;
}

.person-info span {
    font-style: normal;
    font-family: var(--fontMontserrat);
    font-weight: 500;
}