<section class="comment-container">
    <div class="comment">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam eum facere, recusandae veritatis nostrum iure nihil aliquam officia adipisci architecto, cumque modi. Praesentium non recusandae dolorum, tempore ipsam alias?</p>
        <img src="" alt="imgProfile">
        <span>-NamePerson</span>
    </div>
    <div class="comment">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus totam dignissimos quaerat, blanditiis nulla debitis, earum consectetur dolorem, ea beatae delectus! Tempora dolores facere et velit beatae illo nesciunt assumenda.</p>
        <img src="" alt="imgProfile">
        <span>-NamePerson</span>
    </div>
</section>