.comment-container {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 4rem 0rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.comment {
    width: 30%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: var(--fontLato);
    font-style: italic;
}

.comment img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;

    border: solid 1px var(--colorSecondario);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    object-fit: cover;
}

.person-info {
    text-align: center;
}

/* Dispositivos pequeños (<576px) */
@media (max-width: 576px) {
    .comment-container {
        flex-direction: column;
        padding: 0 20px;
        margin: 2rem 0;

        gap: 50px;
    }

    .comment {
        width: 100%;
    }

    .comment img {
        width: 80px;
        height: 80px;
    }
}

/* Dispositivos medianos (móviles grandes y tablets en vertical, 576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .comment-container {    
        padding: 0 20px;
        margin: 2rem 0;

        gap: 50px;
    }

    .comment {
        width: 45%;
 
    }

    .comment img {
        width: 80px;
        height: 80px;
    }
}