<section class="comment-container">
    <div class="comment">
        <img src="" alt="imgProfile">
        <div class="person-info">
            <p> -NamePerson
                <br>
                "workplace"
            </p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam eum facere, recusandae veritatis nostrum iure nihil aliquam officia adipisci architecto, cumque modi.</p>
    </div>
    <div class="comment">
        <img src="" alt="imgProfile">
        <div class="person-info">
            <p> -NamePerson
                <br>
                "workplace"
            </p>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus totam dignissimos quaerat, blanditiis nulla debitis, earum consectetur dolorem, ea beatae delectus!</p>
    </div>
</section>