<section class="banner">
    <h1>Creatividad y sencillez en cada experiencia web.</h1>
    <h3>Con base en Colombia, pero con visión global.</h3>
    <div class="button-banner">
        <app-contact-button (openModalEvent)="showModal()"></app-contact-button>
        <app-form-contact *ngIf="isModalOpen" (closeModal)="hideModal()"></app-form-contact>
        <app-cv-button></app-cv-button>
    </div>
    <div class="scroll-down-indicator">
        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="12" cy="12" r="10" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v8m0 0l3-3m-3 3l-3-3" />
            </g>
        </svg>
    </div>
</section>