.banner {
    width: 100%;
    height: 92vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.banner h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--colorSecondario);
}

.banner h3 {
    margin: 30px;
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--colorSecondario);
}

.button-banner app-contact-button {
    margin: 10px;
}

.button-banner app-cv-button {
    margin: 10px;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s ease-in-out infinite;
}

/* Animación de movimiento hacia abajo */
@keyframes bounce {

    0%,
    100% {
        transform: translate(-50%, 0);
        opacity: 0.5;
    }

    50% {
        transform: translate(-50%, 15px);
        /* Mueve la flecha hacia abajo */
        opacity: 1;
    }
}

/* Responsive */

/* Dispositivos pequeños (<576px) */
@media (max-width: 576px) {
    .banner{
        gap: 1.2rem;   
    }
}