.button-elegant {
    padding: 15px 25px;
    border: 2px solid var(--colorTerciario);
    background-color: var(--colorSecondario);
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    font-family: var(--fontInconsolata);
  }
  
  .button-elegant::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  
  .button-elegant:hover::after {
    transform: scale(4);
  }
  
  .button-elegant:hover {
    border-color: #666666;
    background: #292929;
  }
  