.banner {
    width: 100%;
    height: 89vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--colorSecondario);
}

.banner p {
    margin: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--colorSecondario);
}

.button-banner app-contact-button {
    margin: 10px;
}

.button-banner app-cv-button {
    margin: 10px;
}