.banner {
    width: 100%;
    height: 89vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--colorSecondario);
}

.banner p {
    margin: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--colorSecondario);
}

.button-banner button {
    width: 180px;
    height: 50px;
    margin: 10px;

    font-size: 1.2rem;
    font-weight: 500;

    border-radius: 5px;

    cursor: pointer;
}

.cv {
    background-color: var(--colorSecondario);
    color: var(--colorPrincipal);
    border: none;
}

.contact {
    color: var(--colorSecondario);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: var(--colorPrincipal);
    cursor: pointer;
    border: 1px solid var(--colorPrincipal);
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.contact:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}