<section class="banner">
    <h1>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
        <br>
        Lorem ipsum dolor sit amet.
    </h1>
    <p>Lorem ipsum dolor sit amet.</p>
    <div class="button-banner">
        <app-contact-button></app-contact-button>
        <app-cv-button></app-cv-button>
    </div>
    <div class="scroll-down-indicator">
        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="12" cy="12" r="10" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v8m0 0l3-3m-3 3l-3-3" />
            </g>
        </svg>
    </div>
</section>