.projects-container {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.project {
    width: 90%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.project img {
    width: 50%;
    height: auto;
}

.project .project-description {
    width: 45%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project .project-description h3 { 
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(131, 131, 131, 1);
    color: var(--colorSecondario);
    margin-bottom: 20px;
}

.project .project-description p {
    width: 80%;
    font-family: var(--fontInconsolata);
    font-weight: 400;
    color: var(--colorTerciario);
}

.project-link {
    gap: 10px;
}
