nav {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 1.4rem 0;
}

nav.scrolled {
    color: white;
    background-color: var(--colorSecondario);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-family: var(--fontInconsolata);
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.icons-social {
    position: absolute;
    right: 30px;
    top: 30px;
}

.no-scroll-style {
    color: initial;
}

app-form-contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@media (max-width: 768px) {

    ul,
    a {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--colorPrincipal);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    ul.show {
        display: flex;
    }

    li {
        margin: 0;
    }

    li a {
        display: block;
        padding: 1rem;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: currentColor;
        margin: 5px 0;
    }
}